body {
    background-color: rgb(8, 8, 8);
    text-align: center;
    font-weight: bold;

}


.container img {
    max-width:60px;
    width: auto;
    text-align: center;
}

.cabeça{
    color: white;
}

.tbrasil{
    text-align: center;
}